body {
    background-color: rgb(68, 0, 255);
    font-size: 32px;
}
h1 {
    color: rgb(157, 255, 0);
    font-size: 45px;
}
h2 {
    color: rgb(93, 218, 43);
}
h1, h2 {
    font-family:Arial, Helvetica, sans-serif
}